<details>
  <summary>Sorteer</summary>
  <div class="sort-options">
      <a href="/studenten/?sort=az">A-Z</a>
      <a href="/studenten/?sort=za">Z-A</a>
      <a href="/studenten/?sort=birthdate">Leeftijd</a>
  </div>
</details>
