.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 5vh 10vw;
    border: #66e5bf 1px solid;
    box-shadow: -5px 5px 1px #66e5bf;
    border-radius: 5px;
    max-width: 100vh;
}

.left, .right {
    padding: 30px;
    /* border: #66e5bf 1px solid;
    box-shadow: -5px 5px 1px #66e5bf;
    border-radius: 5px; */
}

.left {
    width: 30%;
    text-align: center;
}

.persoon-naam {
    font-size: 32px;
}

.right {
    width: 60%;
}

.left, .right {
    max-width: 500px;
}

.profile-image {
    max-width: 80%;
    height: auto;
    display: block;
}
