@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}

body {
    --primary-color: #050542;
    --secondary-color: #66e5bf;
    --tertiary-color: #fefc86;
    --highlight-color: #A675F4;
    --text-color: white; 
    --section-radius: 1.5rem;
    --section-padding: .5em 1em;

    font-family: "Open Sans", serif;
    background-color: var(--primary-color);
    font-size: 16px; 
    background-color: var(--primary-color);
    color: var(--text-color);
}

main {
    margin-top: 1rem;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn-primary {
    --btn-radius: .4rem;
    --btn-padding: .5em 1em;
    --btn-border: 2px solid;

    border-radius: var(--btn-radius);
    font-size: 1.1rem;
    padding: var(--btn-padding);
    border: var(--btn-border) var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: .2s ease-in;
    @media (min-width: 480px) {
        font-size: 1.4rem;
    }
    @media (min-width: 768px) {
        font-size: 1.6rem;
    }
}

.btn-primary:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.student-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #050542;
    padding: 1em;
    border-radius: 5px;
    border: #66e5bf 1px solid;
    box-shadow: -5px 5px 1px #66e5bf;
}