.main-index {
    /* Flex parent */
    display: flex; 
    flex-direction: column;
    align-items: center;

    .teams {
        padding-top: 3rem;
        max-width: 70rem;
        /* FLEX parent */
        display: flex; 
        flex-direction: column;
        align-items: center;
        gap: 4.5rem;    
        width: 65vw;
        max-width: 60rem;
        min-width: 13rem;
        container: card-grid / inline-size;

        .team-card {
            position: relative;
            background-color: var(--primary-color);
            padding: 1.5em;
            border-radius: 5px;
            border: var(--secondary-color) 1px solid;
            box-shadow: -5px 5px 1px var(--secondary-color);
            width: 100%;
            /* min-width: 13rem; */
            /* FLEX parent */
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 1em;

            strong {
                color: var(--tertiary-color);
            }

            h3 {
                padding-bottom: .5em;
            }

            .card-info {
                a {
                    color: var(--highlight-color);
                    transition: .2s ease-in;

                    &:hover {
                        color: var(--secondary-color);
                    }
                }

                p:first-of-type {
                    padding-bottom: .5em;
                }

                .rating {
                    background-color: var(--tertiary-color);
                    color: var(--primary-color);
                    width: 5em;
                    height: 5em;
                    border-radius: 50%;
                    position: absolute; 
                    top: 0; 
                    right: 0; 
                    translate: 50% -50%;
                    /* GRID parent */
                    display: grid; 
                    place-items: center;
                }
            }

            form {
                .input-output {
                    display: block; 
                    padding: .5em 0;

                    display: flex; 
                    align-items: start;
                    gap: .5em;

                    input[type="range"] {
                        accent-color: var(--highlight-color);
                        cursor: pointer;
                    }

                    output {
                        color: var(--tertiary-color);
                    }
                }

                button {
                    display: block; 
                }

                .btn-small {
                    --btn-radius: .4rem;
                    --btn-padding: .5em 1em;
                    --btn-border: 2px solid;
                
                    border-radius: var(--btn-radius);
                    font-size: 1rem;
                    padding: var(--btn-padding);
                    border: var(--btn-border) var(--secondary-color);
                    background-color: var(--secondary-color);
                    color: var(--primary-color);
                    transition: .2s ease-in;
                }
                
                .btn-small:hover {
                    background-color: var(--primary-color);
                    color: var(--secondary-color);
                }
            }

            .members {
                .members-list {
                    /* FLEX parent */
                    display: flex; 
                    flex-wrap: wrap;
                    gap: 1rem;

                    figure {
                        /* FLEX parent */
                        display: flex; 
                        flex-direction: column;
                        align-items: center;
    
                        width: fit-content;
                        padding: 1em 1em .5em 1em;
                        border-radius: 5px;
                        border: var(--secondary-color) 1px solid;
    
                        img {
                            width: 8rem;
                            height: 8rem;
                            object-fit: cover;
                        }
    
                        figcaption {
                            padding-top: .5em;
                        }
                    }
                }

            }
        }

        @container card-grid (width > 56rem) {
            .team-card {
                display: grid !important; 
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;

                h2, .card-info {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }

                .card-info {
                    align-self: center;
                }

                form {
                    grid-column: 2/3;
                    grid-row: 1/2;
                }

                .members {
                    grid-column: 1/-1;
                    grid-row: 2/3;
                }
            }
        }
    }
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }